/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background-color: ivory;
  font-size: 62.5%;
}
.big-container {
  width: 85%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 3rem;
}
h1 {
  font-family: 'Imprima', sans-serif;
  font-size: 5rem;
}
h2 {
  font-family: 'Imprima', sans-serif;
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: black;
}
header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0;
}
header nav a {
  text-decoration: none;
  color: #596362;
  padding: 0 1.6rem;
  font-size: 1.8rem;
  border-radius: 2px;
}
header nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
header nav .active {
  font-weight: bold;
}
header .hero {
  background-color: #A7DEFC;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4rem 5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  header .hero .img-container {
    display: none;
  }
}
header .hero h1 {
  padding-top: 2rem;
}
@media (max-width: 500px) {
  header .hero h1 {
    line-height: 1em;
  }
}
header .hero h2 {
  border-bottom: 1px solid #596362;
  padding: 2rem 0;
  text-align: left;
}
header .hero p {
  padding-top: 2.25rem;
}
header .hero a {
  text-decoration: none;
  background-color: #596362;
  color: white;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
}
header .hero a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  header .hero a {
    width: 60%;
  }
}
header .img-container {
  width: 25%;
}
header .img-container img {
  width: 100%;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 0;
}
@media (max-width: 500px) {
  main {
    flex-flow: column no-wrap;
  }
}
#About,
#Skills {
  text-align: center;
  width: 48%;
}
@media (max-width: 500px) {
  #About,
  #Skills {
    width: 100%;
    padding-bottom: 3em;
  }
}
#About h2,
#Skills h2 {
  padding-bottom: 1rem;
}
#About p,
#Skills p {
  padding-bottom: 1.25rem;
}
#About ul,
#Skills ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#About ul li,
#Skills ul li {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #596362;
  width: 100%;
  margin: 0.25rem auto;
  border-radius: 2px;
  text-align: center;
  font-size: 1.25em;
  width: 80%;
}
#About a,
#Skills a {
  text-decoration: none;
  background-color: #596362;
  color: white;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
}
#About a:hover,
#Skills a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#About {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
#About .img-container {
  display: none;
}
@media (max-width: 500px) {
  #About .img-container {
    display: block;
    width: 90%;
    padding-bottom: 2em;
  }
  #About .img-container img {
    max-width: 100%;
  }
}
#Work {
  margin: 2rem 0;
  padding: 3rem 2rem;
  border-top: 1px solid black;
}
#Work .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
@media (max-width: 500px) {
  #Work .container {
    flex-flow: column nowrap;
    text-align: center;
  }
}
#Work .container .outer-box {
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  #Work .container .outer-box {
    width: 90%;
  }
}
#Work .container .outer-box .box {
  margin: 1rem 0;
}
#Work .container .img-container {
  width: 25%;
  max-width: 25%;
}
#Work .container .img-container img {
  width: 100%;
  max-width: 100%;
}
#Education {
  margin-bottom: 2rem;
}
#Education h2 {
  margin-bottom: 1.5rem;
}
#Education .container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
#Education .container .box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  background-color: #D5C897;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 30%;
}
#Education .container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: bold;
}
#Education .container .box p {
  padding: 0.5rem 0;
}
@media (max-width: 500px) {
  #Education .container .box {
    width: 100%;
  }
}
footer {
  margin-top: 3rem;
  padding-top: 3rem;
  background: #A7DEFC;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
footer #Contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  footer #Contact {
    flex-flow: column nowrap;
  }
}
footer #Contact h2 {
  padding-bottom: 2rem;
}
footer #Contact .contact-box {
  width: 30%;
  text-align: center;
}
@media (max-width: 500px) {
  footer #Contact .contact-box {
    width: 100%;
    padding-bottom: 3em;
  }
}
footer #Contact .contact-box .socialIcons {
  padding-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
footer #Contact .form-box {
  padding: 2rem;
  width: 48%;
  background-color: ivory;
}
@media (max-width: 500px) {
  footer #Contact .form-box {
    width: 100%;
  }
}
footer #Contact .form-box input,
footer #Contact .form-box textarea {
  background-color: #e2f4fe;
  width: 100%;
  border: none;
  height: 3rem;
}
footer #Contact .form-box button {
  text-decoration: none;
  background-color: #596362;
  color: white;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
}
footer #Contact .form-box button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
footer .copyright {
  margin-top: 3rem;
  text-align: center;
}
